body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  overflow: hidden;
  height: 100vh;
  background-color: black;
  color: white;
}

#emulator {
  display: flex;
  height: 100%;
}

.sidebar {
  flex: 0 1 auto;
  overflow-y: auto;
}

#disassembly {
  font-family: 'Roboto Mono', monospace;
  font-size: medium;
  list-style-type: none;
  text-align: left;
  display: none;
}

#disassembly > li {
  padding: 5px 5px;
}

#disassembly .breakpoint.current {
  background-color: green;
}

#disassembly .breakpoint {
  background-color: orange;
}

#disassembly .current {
  background-color: dodgerblue;
}

#disassembly li:hover{
  background-color: lightgray;
}

#state {
  font-family: 'Roboto Mono', monospace;
  font-size: medium;
  list-style-type: none;
  text-align: left;
  display: none;
}

#state > li {
  padding: 5px 5px;
}

.changed {
  color: orange;
}

#debug_controls {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  margin: 5px 5px;
  display: none;
}

#mem_value {
  font-family: 'Roboto Mono', monospace;
  font-size: medium;
  font-weight: 600;
  text-align: center;
  margin: 10px 10px;
}

#show_mem {
  font-size: medium;
  font-weight: 600;
  padding: 8px 8px;
  margin-top: 30px;
}

main {
  margin-top: 30px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#screen {
  margin: 2rem 2rem;
  flex: 0 0 auto;
  border-radius: 10px;
}

.button {
  margin: 8px 3px;
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  min-width: 240px;
  min-height: 45px;
  padding: 10px 10px;
  color: white;
  background-color: royalblue;
  border-color: royalblue;
  border-radius: 4px;
}

.red {
  background-color: maroon;
  border-color:  maroon; 
}

.button:hover {
  background-color: gray;
  border-color: transparent;
}

#fps {
  margin: 8px;
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
}

#rom_name {
  margin: 8px;
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
}

#select_rom {
  display: inline-block;
  position: relative;
}

#rom_list {
  display: none;
  position: absolute;
  box-sizing: border-box;
  min-width: 240px;
  margin: 5px 3px;
  bottom: 50px;
  z-index: 1;
}

#rom_list > li {
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  background-color: gray;
  list-style: none;
  padding: 10px;
}

#rom_list > li:hover {
  background-color: royalblue;
}